In [3]:
import pandas as pd

In [4]:
#데이터 불러오기

path = r"C:\Users\82106\Desktop/리뷰.csv"
df = pd.read_csv(path)
df

,listing_id,id,date,reviewer_id,reviewer_name,comments_KO,comments_OG,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,783202.0,1.110000e+18,2024-03-07,107545815,Courtney,웨스트 빌리지(West Village)에 이상적으로 위치한 이 역사적인 장소는 과거...,"Ideally located in the West Village, this hist...",NaN,NaN,NaN,NaN,NaN,NaN
1,3485449.0,1.110000e+18,2024-03-07,409219680,Trevis,좋은 숙박! 단순하고 깨끗하며 조용하고 현대적입니다. 완벽한.,"Great stay! Simple, clean, quiet, modern. Perf...",NaN,NaN,NaN,NaN,NaN,NaN
2,3490317.0,1.110000e+18,2024-03-07,172403892,Philippe,"H척te serviable, lits propres confortables, 요리 ...","H척te serviable, lits propres confortables, cui...",NaN,NaN,NaN,NaN,NaN,NaN
3,6992831.0,1.110000e+18,2024-03-07,564208013,Randy,"확실히 내 체류를 즐겼습니다. 전체적으로 견고한 숙소이며, 동네도 매우 아름답습니다.",Definitely enjoyed my stay. Solid place overal...,NaN,NaN,NaN,NaN,NaN,NaN
4,8873479.0,1.110000e+18,2024-03-07,204906860,Olivia,Darin은 놀라울 정도로 친절하고 반응이 좋으며 유연한 호스트였습니다. 장소는 완...,"Darin was an incredibly kind, responsive, & fl...",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,41692454.0,1.100000e+18,2024-02-29,256935,Jason,완벽한 장기 체류 옵션?몟?뤎,Perfect long layover option?몟?뤎,NaN,NaN,NaN,NaN,NaN,NaN
996,42735424.0,1.100000e+18,2024-02-29,188907437,Barbara,"Me encant처 mi estancia en este piso, la zona e...","Me encant처 mi estancia en este piso, la zona e...",NaN,NaN,NaN,NaN,NaN,NaN
997,43652025.0,1.100000e+18,2024-02-29,3190173,Mawuse,나는 영구 아파트를 찾는 동안 6주 동안 이곳에 머물렀습니다. 이곳은 도시에 쉽게 ...,I stayed here for 6 weeks while finding a perm...,NaN,NaN,NaN,NaN,NaN,NaN
998,44324396.0,1.100000e+18,2024-02-29,474296953,Andrey,이번 숙박은 모든 기대를 뛰어 넘었습니다. 아파트는 믿을 수 없을 정도로 넓고 편리...,This stay exceeded all expectations. The apart...,NaN,NaN,NaN,NaN,NaN,NaN
999,45151029.0,1.100000e+18,2024-02-29,61708507,Paul,이곳은 맨해튼에 머물기를 원하는 누구에게나 훌륭한 장소입니다. 위치가 훌륭하고 아파...,This is an excellent spot for anyone wishing t...,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#필요한 열만 추출

df = df.loc[:, ["reviewer_id","reviewer_name","comments_KO"]]
df

,reviewer_id,reviewer_name,comments_KO
0,107545815,Courtney,웨스트 빌리지(West Village)에 이상적으로 위치한 이 역사적인 장소는 과거...
1,409219680,Trevis,좋은 숙박! 단순하고 깨끗하며 조용하고 현대적입니다. 완벽한.
2,172403892,Philippe,"H척te serviable, lits propres confortables, 요리 ..."
3,564208013,Randy,"확실히 내 체류를 즐겼습니다. 전체적으로 견고한 숙소이며, 동네도 매우 아름답습니다."
4,204906860,Olivia,Darin은 놀라울 정도로 친절하고 반응이 좋으며 유연한 호스트였습니다. 장소는 완...
...,...,...,...
995,256935,Jason,완벽한 장기 체류 옵션?몟?뤎
996,188907437,Barbara,"Me encant처 mi estancia en este piso, la zona e..."
997,3190173,Mawuse,나는 영구 아파트를 찾는 동안 6주 동안 이곳에 머물렀습니다. 이곳은 도시에 쉽게 ...
998,474296953,Andrey,이번 숙박은 모든 기대를 뛰어 넘었습니다. 아파트는 믿을 수 없을 정도로 넓고 편리...
999,61708507,Paul,이곳은 맨해튼에 머물기를 원하는 누구에게나 훌륭한 장소입니다. 위치가 훌륭하고 아파...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   reviewer_id    1000 non-null   int64
 1   reviewer_name  1000 non-null   object
 2   comments_KO    1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [7]:
#개행문자 제거
# \n(개행문자) -> ""(공백)

df['comments_KO'] = df['comments_KO'].apply(lambda x: x.replace('\n',''))

#HTML코드 제거
# <br/> -> ""(공백)
df['comments_KO'] = df['comments_KO'].apply(lambda x: x.replace('<br/>',''))

In [8]:
#특수문자 제거

import re
def cleanText(readData):
 
    
    text = re.sub('[-=+,#/\?:;^$.@*\"※~&%ㆍ!』\\‘|\(\)\[\]\<\>`\'…》❤]', '', readData)
    return text

df['comments_KO'] = df['comments_KO'].apply(cleanText)

In [9]:
#개별 국문 제거

def cleanText2(readData):
 
    text = re.sub('[ㄱㄴㄷㄹㅁㅂㅅㅇㅈㅊㅋㅌㅍㅎㅃㅉㄸㄲㅆㅛㅕㅑㅐㅔㅗㅓㅏㅣㅜㅠㅡ]', '', readData)
    return text
df['comments_KO'] = df['comments_KO'].apply(cleanText2)

In [ ]:
#전처리 알파벳 제거(프랑스어 등 언어 제거) -> 이름, 공항이름 등 모두 지워짐
#한자 및 깨진 문자는 어떻게? (ex 뚫 섺 등)

In [16]:
#알파벳 제거 (불어, 기타 외국어 제거)

def cleanText3(readData):
 
    text = re.sub('[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]', '', readData)
    return text
df['comments_KO'] = df['comments_KO'].apply(cleanText3)

In [19]:
#확인용 행번호 -2

# 행 추출
row = df.iloc[9]
print(row)

reviewer_id          132209589
reviewer_name            Fanny
comments_KO         처
Name: 9, dtype: object

In [18]:
df

,reviewer_id,reviewer_name,comments_KO
0,107545815,Courtney,웨스트 빌리지 에 이상적으로 위치한 이 역사적인 장소는 과거 시대로 시간 여행을 떠...
1,409219680,Trevis,좋은 숙박 단순하고 깨끗하며 조용하고 현대적입니다 완벽한
2,172403892,Philippe,척 요리 비엔 에피소드퀴프 소설 4분의 1 평온함 챕터
3,564208013,Randy,확실히 내 체류를 즐겼습니다 전체적으로 견고한 숙소이며 동네도 매우 아름답습니다
4,204906860,Olivia,은 놀라울 정도로 친절하고 반응이 좋으며 유연한 호스트였습니다 장소는 완벽하게 위치...
...,...,...,...
995,256935,Jason,완벽한 장기 체류 옵션몟뤎
996,188907437,Barbara,처 호스트는 책임감이 있습니다 뉴욕에 방문하는...
997,3190173,Mawuse,나는 영구 아파트를 찾는 동안 6주 동안 이곳에 머물렀습니다 이곳은 도시에 쉽게 접...
998,474296953,Andrey,이번 숙박은 모든 기대를 뛰어 넘었습니다 아파트는 믿을 수 없을 정도로 넓고 편리했...
999,61708507,Paul,이곳은 맨해튼에 머물기를 원하는 누구에게나 훌륭한 장소입니다 위치가 훌륭하고 아파트...

In [21]:
#데이터 불러오기

path2 = r"C:\Users\82106\Desktop/non_eng_remove.xlsx"
df2 = pd.read_excel(path2)
df2

,listing_id,id,date,reviewer_id,reviewer_name,comments,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,77765,8.399080e+17,2023-03-04,154108041,Brian,We enjoyed our stay at The Box House No compl...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,77765,8.457200e+17,2023-03-12,95341816,Tanya,Wonderful stay,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,77765,8.507270e+17,2023-03-19,44514440,Chelsey,We loved The Box House We travel for Marylan...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,77765,8.710030e+17,2023-04-16,347649009,Jakub,We loved our stay at this hotel The staff was...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,77765,9.021490e+17,2023-05-29,54427269,David,Clean and spacious room,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223667,1099960000000000000,1.098630e+18,2024-02-24,533783820,Hikari,Clean and convenient location It was a good d...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223668,1099960000000000000,1.098680e+18,2024-02-24,506885472,Paulina,Absolutely outstanding Right in the middle of...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223669,1099960000000000000,1.099380e+18,2024-02-25,306314457,Christopher,Great location nice place,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223670,1099960000000000000,1.099380e+18,2024-02-25,138389464,David,Great stay Would definitely stay here again,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223671,1089320000000000000,1.095070e+18,2024-02-19,330614887,Fabio,As soon as I walked in I fell in love with ho...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN